@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
  }

:root{
  --background-color: linear-gradient(to bottom, #27242f, #292632, #2c2935, #2e2b39, #312e3c, #383544, #3f3b4c, #464254, #534e64, #615a74, #6f6784, #7d7495);
  --box-color: linear-gradient(180deg, #DDDDDD 0%, #C8C8C8 64.5%, #777777 100%);
  --text-color: black;
  --toggle-color: white;
  --mode-background: rgba(255, 255, 255, 0.5);
  --box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  --box-shadow2: 10px 10px 20px rgba(0, 0, 0, 0.5);
  --table-header: #2424242f; 
  --table-data: #0000000b;
  --table-hover: #fff6;
  --btn: rgba(0, 0, 0, 0.7);
  --scroll: #0004;
}

body.dark{
  --background-color: linear-gradient(180deg, #DDDDDD 0%, #C8C8C8 64.5%, #777777 100%);
  --box-color: linear-gradient(to bottom, #27242f, #292632, #2c2935, #2e2b39, #312e3c, #383544, #3f3b4c, #464254, #534e64, #615a74, #6f6784, #7d7495);
  --text-color: white;
  --toggle-color: black;
  --mode-background: rgba(0, 0, 0, 0.5);
  --box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
  --box-shadow2: 10px 10px 20px rgba(255, 255, 255, 0.5);
  --table-header: #212121;
  --table-data: #3a3a3a;
  --table-hover: #525252;
  --btn: rgba(255, 255, 255, 0.95);
  --scroll: rgba(255, 255, 255, 0.267);
}

body{
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.container{
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 120px;
  right: 25px;
  background: var(--box-color);
  border-radius: 50px;
  transition: all 0.5s ease;
  text-align: center;
}

.sidebar.active ~ .right_box .container {
  left: 300px;
  border-radius: 30px;
}

.header{
  font-size: 18px;
  color: var(--text-color);
  padding-top: 10px;
  pointer-events: none;
}

.table_body{
  width: 90%;
  max-height: calc(87% - .8rem);
  margin: .8rem auto;
  color: var(--text-color);
  overflow: auto;
  border-radius: 30px;
}

.table_body::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

.table_body::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: var(--scroll);
  visibility: hidden;
}

.table_body:hover::-webkit-scrollbar-thumb{
  visibility: visible;
}

table{
  width: 100%;
  text-align: center;
}

table, th, td{
  border: 1px solid #CCC;
  border-collapse: collapse;
  padding: 8px 8px;
  border: none;
  overflow: hidden; /*head bar*/
}

thead th{
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--table-header);
  pointer-events: none;
  font-size: 18px;
}

tbody td{
  font-size: 16px;
  cursor: default;
  text-align: center;
}

tbody tr:nth-child(even){
  background: var(--table-data);
}

tbody tr:hover{
  background: var(--table-hover);
  transition: all 0.2s ease;
}

.action{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selection{
  padding-top: 4px;
  display: flex;
  gap: 5px;
}

.btn1{
  display: block;
  width: 100%;
  height: 35px;
  background: var(--btn);
  border: none;
  border-radius: 10px;
  color: var(--toggle-color);
  cursor: pointer;
  font-weight: 600;
  padding: 0 28px;
}

.btn2{
  display: block;
  width: 100%;
  height: 35px;
  background: var(--btn);
  border: none;
  border-radius: 10px;
  color: var(--toggle-color);
  cursor: pointer;
  font-weight: 600;
  padding: 0 48px;
}

.btn{
  display: block;
  width: 100%;
  height: 35px;
  background: var(--btn);
  border: none;
  border-radius: 10px;
  color: var(--toggle-color);
  cursor: pointer;
  font-weight: 600;
  padding: 0 15px;
}

.match-status{
  padding: 5px 5px;
  border-radius: 10px;
}

.match-status.in-progress {
  background-color: purple;
  color: white;
}

.match-status.confirmed {
  background-color: blue;
  color: white;
}

.match-status.completed {
  background-color: rgb(5, 192, 5);
}

.match-status.payment-pending {
  background-color: yellow;
  color: black;
}

.match-status.pending-review {
  background-color: #d9534f;
}

.match-status.approving {
  background-color: orange;
}

.match-status.cancelled {
  background-color: red;
}

.flashes {
  position: fixed;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  margin: 0;
  padding: 0;
  display: none;
  transition: opacity 0.6s ease-out;
}

.flashes.show {
    display: block;
    opacity: 1;
}

.flashes.hide {
    opacity: 0;
}

.flash {
    padding: 5px;
    border: 6px solid transparent;
    border-radius: 10px;
    position: relative;
    width: 500px;
    text-align: center;
    margin-bottom: 10px;
}

.flash.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.flash.error {
    color: #721c24;
    background-color: #f8d7ee;
    border-color: #f5c6cb;
}

.closebtn {
    position: absolute;
    top: 3px;
    right: 10px;
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.closebtn:hover {
    color: black;
}