@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
  }

  :root{
    --background-color: linear-gradient(to bottom, #27242f, #292632, #2c2935, #2e2b39, #312e3c, #383544, #3f3b4c, #464254, #534e64, #615a74, #6f6784, #7d7495);
    --box-color: linear-gradient(180deg, #DDDDDD 0%, #C8C8C8 64.5%, #777777 100%);
    --text-color: black;
    --toggle-color: white;
    --mode-background: rgba(255, 255, 255, 0.5);
    --box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    --box-shadow2: 10px 10px 20px rgba(0, 0, 0, 0.5);
    --table-header: #2424242f; 
    --table-data: #0000000b;
    --table-hover: #fff6;
    --btn: rgba(0, 0, 0, 0.7);
    --scroll: #0004;
    --input: linear-gradient(to bottom, #27242f, #292632, #2c2935, #2e2b39, #312e3c, #383544, #3f3b4c, #464254, #534e64, #615a74, #6f6784, #7d7495);
  }

  body.dark{
    --background-color: linear-gradient(180deg, #DDDDDD 0%, #C8C8C8 64.5%, #777777 100%);
    --box-color: linear-gradient(to bottom, #27242f, #292632, #2c2935, #2e2b39, #312e3c, #383544, #3f3b4c, #464254, #534e64, #615a74, #6f6784, #7d7495);
    --text-color: white;
    --toggle-color: black;
    --mode-background: rgba(0, 0, 0, 0.5);
    --box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
    --box-shadow2: 10px 10px 20px rgba(255, 255, 255, 0.5);
    --table-header: #8a8a8d8c;
    --table-data: #89898f52;
    --table-hover: #fff6;
    --btn: rgba(255, 255, 255, 0.85);
    --scroll: rgba(255, 255, 255, 0.267);
    --input: black;
  }
  
  body{
    position: relative;
    min-height: 100vh;
    width: 100%;
  }

  .container{
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 120px;
    right: 25px;
    background: var(--box-color);
    border-radius: 50px;
    transition: all 0.5s ease;
    text-align: center;
    padding: 10px 40px;
  }

  .sidebar.active ~ .right_box .container {
    left: 300px;
    border-radius: 30px;
}

.header{
  color: var(--text-color);
  font-size: 20px;
}

.size{
  width: 100%;
  max-height: calc(90% - .8rem);
  margin: .8rem auto;
  overflow-y: auto;
  overflow-x: auto;
  white-space: nowrap;
  transition: all 0.5s ease;
}

.size::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

.size::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: var(--scroll);
  visibility: hidden;
}

.size:hover::-webkit-scrollbar-thumb{
  visibility: visible;
}

.details{
  display: flex;
  gap: 40px;
  justify-content: space-evenly;
  align-items: center;
}

#mapholder{
  height: 550px;
  width: 100%;
  padding: 0 450px;
  border-radius: 50px;
  transition: all 0.5s ease;
}

.sidebar.active ~ .right_box .container .details #mapholder{
  height: 550px;
  width: 100%;
  padding: 0 360px;
  border-radius: 50px;
  transition: all 0.5s ease;
}

.button{
  background: var(--background-color);
  padding: 0 20px;
  border-radius: 50px;
}

.box{
  background: var(--box-color);
  padding: 15px 20px;
  border-radius: 30px;
  margin: 30px 5px;
  position: relative;
}

.box input::placeholder{
  color: rgba(255, 255, 255, 0.8);
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator{
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.button input{
  position: relative;
  width: 100%;
  color: white;
  background: var(--input);
  border: none;
  padding: 12px 12px 12px 40px;
  border-radius: 20px;
  outline: none;
  font-size: 15px;
  margin-bottom: 10px;
}

.btn{
  width: 100%;
  height: 50px;
  background: var(--text-color);
  border: none;
  border-radius: 20px;
  color: var(--toggle-color);
  cursor: pointer;
  font-weight: 600;
  font-size: 17px;
}

.box i{
  position: absolute;
  right: 92px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--toggle-color);
  cursor: pointer;
}

.flashes {
  position: fixed;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  margin: 0;
  padding: 0;
  display: none;
  transition: opacity 0.6s ease-out;
}

.flashes.show {
    display: block;
    opacity: 1;
}

.flashes.hide {
    opacity: 0;
}

.flash {
    padding: 5px;
    border: 6px solid transparent;
    border-radius: 10px;
    position: relative;
    width: 500px;
    text-align: center;
    margin-bottom: 10px;
}

.flash.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.flash.error {
    color: #721c24;
    background-color: #f8d7ee;
    border-color: #f5c6cb;
}

.closebtn {
    position: absolute;
    top: 3px;
    right: 10px;
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.closebtn:hover {
    color: black;
}

@media (max-width: 1200px) {
  .container {
      padding: 10px 30px;
  }

  #mapholder {
      padding: 0 300px;
  }
}

@media (max-width: 900px) {
  .container {
      padding: 10px 20px;
  }

  #mapholder {
      padding: 0 200px;
  }

  .details {
      flex-direction: column;
      gap: 20px;
  }
}

@media (max-width: 600px) {
  .container {
      padding: 10px 15px;
      border-radius: 30px;
  }

  #mapholder {
      padding: 0 100px;
      height: 400px;
  }

  .button {
      padding: 15px 15px;
      border-radius: 30px;
  }

  .box {
      margin: 20px 0;
  }

  .btn {
      font-size: 15px;
      height: 45px;
  }

  .box i {
      right: 50px;
      font-size: 18px;
  }
}

@media (max-width: 400px) {
  .container {
      padding: 10px 10px;
      border-radius: 20px;
  }

  #mapholder {
      padding: 0 50px;
      height: 300px;
  }

  .btn {
      font-size: 14px;
      height: 40px;
  }

  .box i {
      right: 30px;
      font-size: 16px;
  }
}

@media screen and (max-height: 500px) {
  .size{
    max-height: calc(80% - .8rem);
  }
}

@media screen and (min-height: 500px) and (max-height: 700px) {
  .size{
    max-height: calc(85% - .8rem);
  }
}