@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
  }

body{
    min-height: 100vh;
}

.popout{
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.msg{
    color: black;
    text-align: center;
    background: rgba(255, 255, 255);
    border-radius: 20px;
    padding: 10px 25px 20px; /*top side bottom*/
}

.close-btn{
    position: relative;
    display: block;
    left: 98%;
    width: 20px;
    height: 20px;
    background: #eee;
    color: #111;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
}

.popout h2{
    font-size: 20px;
}

.popout p{
    font-size: 15px;
    margin-top: 5px;
}

body.active-popout .main{
    filter: blur(5px);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 60px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    color: white;
    transition: all 0.5s ease;
    white-space: nowrap;
}

.menu{
    text-align: right;
    font-size: 25px;
    display: none;
}

.top-nav a{
    position: relative;
    font-size: 1.1em;
    color: white;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    padding: 12px;
    transition: all 0.5s ease;
}

.top-nav a:hover, .top-nav a.bright{
    transition: 0.5s;
    color: rgb(0, 0, 0);
    transition: all 0.5s ease;
}

.top-nav a.bright:hover{
    background: black;
    color: white;
    border-radius: 50px;
}

.top-nav a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 50px;
    z-index: -1;
    transform: scale(0);
    opacity: 0;
    transition: 0.5s;
}

.top-nav a:hover span, .top-nav a.bright span{
    transform: scale(1);
    opacity: 1;
}

.center{
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    background: url('../static/pic&video/backgound\ \(1\).jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.center h1{
    margin: 0;
    position: absolute;
    color: white;
    font-size: 70px;
    text-shadow: 5px 5px 10px rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
    transition: all 0.5s ease;
    z-index: 100;
}

.car-pic{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    filter: drop-shadow(0 0 0.5 white);
}

.car-pic img{
    position: absolute;
    transition: all 0.2s ease;
}

/* left-top */
.car-pic img:nth-child(1){
    top: 10%;
    left: 25%;
    width: 16%;
}

/* left */
.car-pic img:nth-child(2){
    top: 40%;
    left: 8%;
    width: 16%;
}

/* left-bottom */
.car-pic img:nth-child(3){
    bottom: 8%;
    left: 32%;
    width: 16%;
}

/* right-bottom */
.car-pic img:nth-child(4){
    bottom: 10%;
    right: 27%;
    width: 18%;
}

/* right-top */
.car-pic img:nth-child(5){
    top: 9%;
    right: 25%;
    width: 16%;
}

/* right */
.car-pic img:nth-child(6){
    top: 40%;
    right: 9%;
    width: 16%;
}

#about{
    padding: 40px 150px;
    text-align: center;
    transition: all 0.5s ease;
}

.background{
    min-height: 100vh;
    background-image: linear-gradient(to left bottom, #473f61, #54466d, #634d78, #725484, #825a8e, #8c6095, #95679c, #9f6da3, #a474a9, #a87cb0, #ad83b6, #b28bbc);
}

#about h2{
    font-size: 40px;
    color: white;
}

#about p{
    font-size: 18px;
    padding-top: 8px;
    color: white;
}

.container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    background-image: linear-gradient(to left top, #302a45, #3a2f50, #46355b, #523966, #603e70, #6a4578, #754b80, #805288, #895d91, #92689b, #9b73a4, #a47eae);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-left: 1px solid rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    transition: all .5s ease;
}

.container .card .info{
    padding: 20px;
    text-align: center;
}

.container .card .info h2{
    position: absolute;
    top: -30px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.08);
    pointer-events: none;
}

.container .card .info h3{
    font-size: 25px;
    color: rgb(255, 255, 255, 0.95);
    z-index: 1;
    padding-bottom: 8px;
    pointer-events: none;
}

.container .card .info p{
    font-size: 16px;
    color: rgb(255, 255, 255, 0.85);
    font-weight: 300;
    pointer-events: none;
}

.container .card:hover{
    transform: translateY(-30px);
}

.flashes {
    position: fixed;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    margin: 0;
    padding: 0;
    display: none;
    transition: opacity 0.6s ease-out;
  }
  
  .flashes.show {
      display: block;
      opacity: 1;
  }
  
  .flashes.hide {
      opacity: 0;
  }
  
  .flash {
      padding: 5px;
      border: 6px solid transparent;
      border-radius: 10px;
      position: relative;
      width: 500px;
      text-align: center;
      margin-bottom: 10px;
  }
  
  .flash.success {
      color: #155724;
      background-color: #d4edda;
      border-color: #c3e6cb;
  }
  
  .flash.error {
      color: #721c24;
      background-color: #f8d7ee;
      border-color: #f5c6cb;
  }
  
  .closebtn {
      position: absolute;
      top: 3px;
      right: 10px;
      color: #aaa;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
  }
  
  .closebtn:hover {
      color: black;
  }

@media (min-width: 840px) and (max-width: 1200px) {
    .center h1 {
        font-size: 60px;
    }

    /* left-top */
    .car-pic img:nth-child(1){
        top: 15%;
        left: 25%;
        width: 20%;
    }

    /* left */
    .car-pic img:nth-child(2){
        top: 40%;
        left: 5%;
        width: 18%;
    }

    /* left-bottom */
    .car-pic img:nth-child(3){
        bottom: 12%;
        left: 27%;
        width: 20%;
    }

    /* right-bottom */
    .car-pic img:nth-child(4){
        bottom: 12%;
        right: 25%;
        width: 22%;
    }

    /* right-top */
    .car-pic img:nth-child(5){
        top: 18%;
        right: 20%;
        width: 20%;
    }

    /* right */
    .car-pic img:nth-child(6){
        top: 40%;
        right: 5%;
        width: 18%;
    }

    #about{
        padding: 40px 80px;
    }
}

/* Media Query for tablets (768px and below) */
@media (max-width: 840px) {
    .menu{
        display: block;
        cursor: pointer;
    }

    header {
        padding: 20px 40px;
    }

    .list{
        display: none;
    }

    .top-nav a {
        display: block;
        text-align: center;
        color: black;
        background: white;
        width: 100%;
    }

    .top-nav a:hover{
        color: white;
        background: black;
    }

    .top-nav a.bright:hover{
        border-radius: 0;
    }

    .active{
        display: block;
    }

    .center h1 {
        font-size: 50px;
    }

    /* left-top */
    .car-pic img:nth-child(1){
        top: 17%;
        left: 25%;
        width: 24%;
    }

    /* left */
    .car-pic img:nth-child(2){
        top: 40%;
        left: 5%;
        width: 22%;
    }

    /* left-bottom */
    .car-pic img:nth-child(3){
        bottom: 14%;
        left: 25%;
        width: 24%;
    }

    /* right-bottom */
    .car-pic img:nth-child(4){
        bottom: 18%;
        right: 20%;
        width: 27%;
    }

    /* right-top */
    .car-pic img:nth-child(5){
        top: 20%;
        right: 15%;
        width: 24%;
    }

    /* right */
    .car-pic img:nth-child(6){
        top: 40%;
        right: 3%;
        width: 22%;
    }

    #about{
        padding: 40px 20px;
    }

}

@media (max-width: 700px) {
    .center h1 {
        font-size: 45px;
    }

    /* left-top */
    .car-pic img:nth-child(1){
        top: 17%;
        left: 25%;
        width: 28%;
    }

    /* left */
    .car-pic img:nth-child(2){
        top: 40%;
        left: 5%;
        width: 28%;
    }

    /* left-bottom */
    .car-pic img:nth-child(3){
        bottom: 18%;
        left: 25%;
        width: 28%;
    }

    /* right-bottom */
    .car-pic img:nth-child(4){
        bottom: 18%;
        right: 18%;
        width: 32%;
    }

    /* right-top */
    .car-pic img:nth-child(5){
        top: 20%;
        right: 8%;
        width: 30%;
    }

    /* right */
    .car-pic img:nth-child(6){
        top: 40%;
        right: 3%;
        width: 25%;
    }
}

@media (max-width: 550px) {
    .center h1 {
        font-size: 40px;
    }

    /* left-top */
    .car-pic img:nth-child(1){
        top: 17%;
        left: 30%;
        width: 32%;
    }

    /* left */
    .car-pic img:nth-child(2){
        top: 35%;
        left: 5%;
        width: 30%;
    }

    /* left-bottom */
    .car-pic img:nth-child(3){
        bottom: 25%;
        left: 15%;
        width: 32%;
    }

    /* right-bottom */
    .car-pic img:nth-child(4){
        bottom: 20%;
        right: 25%;
        width: 35%;
    }

    /* right-top */
    .car-pic img:nth-child(5){
        top: 30%;
        right: 3%;
        width: 35%;
    }

    /* right */
    .car-pic img:nth-child(6){
        top: 48%;
        right: 3%;
        width: 30%;
    }
}