@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
  }
  
  .logout{
    position: absolute;
    top: 2%;
    right: 1.5%;
  }

  .background{
    background-image: linear-gradient(to bottom, #27242f, #292632, #2c2935, #2e2b39, #312e3c, #383544, #3f3b4c, #464254, #534e64, #615a74, #6f6784, #7d7495);
    height: 100vh;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .outer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .inner{
    width: 750px;
    height: 400px;
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    overflow: hidden;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  }
  
  .left{
    width: 375px;
    height: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .left video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
  }

  
  .right{
    width: 375px;
    height: 400px;
    display: flex;
    justify-content: center; /*left-right center*/
    align-items: center; /*up-bottom center*/
  }
  
  .right-word{
    width: 65%;
  }
  
  h2{
    font-size: 32px;
  }
  
  .typing{
    margin: 10px 0;
    position: relative;
  }
  
  .typing input{
    width: 100%;
    background: #D9D9D9;
    border: none;
    padding: 12px 12px 12px 45px;
    border-radius: 50px;
    outline: 3px solid transparent;
    transition: 0.3s;
    font-size: 14px;
  }
  
  .typing input::placeholder{
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
  }
  
  .typing input:focus{
    outline: 3px solid rgba(0, 0, 0, 0.2);
  }
  
  .typing input::-ms-reveal{
    filter: invert(100%);
  }
  
  .typing i{
    position: absolute;
    left: 19px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
  }
  
  .typing ion-icon{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.8);
    font-size: 15px;
  }

  .typing canvas{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .rmb-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }

  .rmb-forgot label{
    display: flex;
    gap: 3px;
    cursor: pointer;
  }

  .rmb-forgot input{
    accent-color: black;
    cursor: pointer;
  }

  .rmb-forgot a{
    color: black;
    text-decoration: none;
  }

  .rmb-forgot a:hover{
    text-decoration: underline;
  }

  .btn{
    width: 100%;
    height: 40px;
    background-color: black;
    border: none;
    margin-top: 10px;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-weight: 600;
  }
  
  .signup{
    padding-top: 5px;
    font-size: 12.5px;
    text-align: center;
  }
  
  .signup a{
    color: black;
    text-decoration: none;
    font-weight: 600;
  }
  
  .signup a:hover{
    text-decoration: underline;
  }

.flashes {
  position: fixed;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  margin: 0;
  padding: 0;
  display: none;
}

.flashes.show {
    display: block;
}

.flash {
    padding: 5px;
    border: 6px solid transparent;
    border-radius: 10px;
    position: relative;
    width: 500px;
    text-align: center;
    margin-bottom: 10px;
}

.flash.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.flash.error {
    color: #721c24;
    background-color: #f8d7ee;
    border-color: #f5c6cb;
}

.closebtn {
    position: absolute;
    top: 3px;
    right: 10px;
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.closebtn:hover {
    color: black;
}