@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
  }

  :root{
    --background-color: linear-gradient(to bottom, #27242f, #292632, #2c2935, #2e2b39, #312e3c, #383544, #3f3b4c, #464254, #534e64, #615a74, #6f6784, #7d7495);
    --box-color: linear-gradient(180deg, #DDDDDD 0%, #C8C8C8 64.5%, #777777 100%);
    --text-color: black;
    --toggle-color: white;
    --mode-background: rgba(255, 255, 255, 0.5);
    --box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    --box-shadow2: 10px 10px 20px rgba(0, 0, 0, 0.5);
    --table-header: #2424242f; 
    --table-data: #0000000b;
    --table-hover: #fff6;
    --btn: rgba(0, 0, 0, 0.7);
    --scroll: #0004;
  }

  body.dark{
    --background-color: linear-gradient(180deg, #DDDDDD 0%, #C8C8C8 64.5%, #777777 100%);
    --box-color: linear-gradient(to bottom, #27242f, #292632, #2c2935, #2e2b39, #312e3c, #383544, #3f3b4c, #464254, #534e64, #615a74, #6f6784, #7d7495);
    --text-color: white;
    --toggle-color: black;
    --mode-background: rgba(0, 0, 0, 0.5);
    --box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
    --box-shadow2: 10px 10px 20px rgba(255, 255, 255, 0.5);
    --table-header: #8a8a8d8c;
    --table-data: #89898f52;
    --table-hover: #fff6;
    --btn: rgba(255, 255, 255, 0.7);
    --scroll: rgba(255, 255, 255, 0.267);
  }
  
  body{
    position: relative;
    min-height: 100vh;
    width: 100%;
  }

  .container{
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 120px;
    right: 25px;
    background: var(--box-color);
    border-radius: 50px;
    transition: all 0.5s ease;
    /* z-index: -1; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }

  .sidebar.active ~ .right_box .container {
    left: 300px;
    border-radius: 30px;
}

.size{
  /* width: 90%; */
  max-height: calc(95% - .8rem);
  margin: .8rem auto;
  overflow-y: auto;
  overflow-x: auto;
  /* white-space: nowrap; */
  transition: all 0.5s ease;
}

.size::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

.size::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: var(--scroll);
  visibility: hidden;
}

.size:hover::-webkit-scrollbar-thumb{
  visibility: visible;
}

.driver{
    color: var(--toggle-color);
    background: var(--background-color);
    width: 580px;
    border-radius: 50px;
    padding: 15px 40px; /* top-bottom left-right*/
    white-space: nowrap;
}

h1{
    border-bottom: 1px solid;
    padding-bottom: 9px;
    text-align: center;
}

.details{
    padding-top: 24px;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
    gap: 20px;
}

.i{
    font-size: 15px;
}

h3{
    font-size: 15px;
    font-weight: 300;
}

p{
    font-size: 16px;
    font-weight: 500;
}

.info_left-right{
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn{
  width: 100%;
  height: 50px;
  background: black;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.flashes {
  position: fixed;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  margin: 0;
  padding: 0;
  display: none;
  transition: opacity 0.6s ease-out;
}

.flashes.show {
    display: block;
    opacity: 1;
}

.flashes.hide {
    opacity: 0;
}


.flash {
    padding: 5px;
    border: 6px solid transparent;
    border-radius: 10px;
    position: relative;
    width: 500px;
    text-align: center;
    margin-bottom: 10px;
}

.flash.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.flash.error {
    color: #721c24;
    background-color: #f8d7ee;
    border-color: #f5c6cb;
}

.closebtn {
    position: absolute;
    top: 3px;
    right: 10px;
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.closebtn:hover {
    color: black;
}