@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
  }

  :root{
    --background-color: linear-gradient(to bottom, #27242f, #292632, #2c2935, #2e2b39, #312e3c, #383544, #3f3b4c, #464254, #534e64, #615a74, #6f6784, #7d7495);
    --box-color: linear-gradient(180deg, #DDDDDD 0%, #C8C8C8 64.5%, #777777 100%);
    --text-color: black;
    --toggle-color: white;
    --mode-background: rgba(255, 255, 255, 0.5);
    --box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }

  body.dark{
    --background-color: linear-gradient(180deg, #DDDDDD 0%, #C8C8C8 64.5%, #777777 100%);
    --box-color: linear-gradient(to bottom, #27242f, #292632, #2c2935, #2e2b39, #312e3c, #383544, #3f3b4c, #464254, #534e64, #615a74, #6f6784, #7d7495);
    --text-color: white;
    --toggle-color: black;
    --mode-background: rgba(0, 0, 0, 0.5);
    --box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
  }
  
  body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background: var(--background-color) fixed;
  }

  .sidebar{
    position: fixed;
    top: 20px;
    bottom: 20px;
    left: 25px;
    width: 70px;
    background: var(--box-color);
    padding: 10px 10px; /*updown leftright*/
    border-radius: 50px;
    transition: all 0.5s ease;
  }

  .sidebar.active{
    width: 250px;
    border-radius: 30px;
  }

  .sidebar .logo_name .logo{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    gap: 1px;
    opacity: 0;
    pointer-events: none;
    padding: 0 12px;
  }

  .sidebar.active .logo_name .logo{
    opacity: 1;
    pointer-events: none;
    color: var(--text-color);
  }

  .logo_name .logo ion-icon{
    font-size: 28px;
  }

  .logo_name .logo .name{
    font-size: 17px;
    font-weight: 600;
    white-space: nowrap;
  }

  .sidebar #btn{
    position: absolute;
    left: 50%;
    top: 10px;
    font-size: 22px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    color: var(--text-color);
  }

  .sidebar.active #btn{
    left: 89%;
    font-size: 22px;
  }

  .sidebar ul{
    margin-top: 20px;
  }

  .sidebar ul li{
    list-style: none;
    line-height: 50px;
    position: relative;
    height: 50px;
    width: 100%;
    /*margin: 0 5px;*/
  }

  .sidebar ul li .tooltip{
    font-weight: 500;
    position: absolute;
    left: 62px;
    top: 0;
    transform: translateY(-50%, -50%);
    border-radius: 15px;
    height: 35px;
    width: 140px;
    background: var(--toggle-color);
    line-height: 35px;
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
    /* z-index: 9999; */
  }

  .sidebar.active ul li .tooltip{
    display: none;
  }

  .sidebar ul li:hover .tooltip{
    top: 17%;
    transition: all 0.5s ease;
    opacity: 1;
    z-index: 200;
    color: var(--text-color);
  }

  .sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 15px;
    outline: none;
    border: none;
    background: var(--toggle-color);
    padding-left: 50px;
    font-size: 16px;
    color: var(--text-color);
  }

  .sidebar ul li .bx-search-alt-2{
    position: absolute;
    z-index: 100;
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    transition: all 0.5s ease;
    color: var(--text-color);
  }

  .sidebar ul li .bx-search-alt-2:hover{
    border-radius: 15px;
    color: var(--toggle-color);
    background: var(--background-color);
  }

  .sidebar ul li a{
    color: var(--text-color);
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 15px;
    white-space: nowrap;
  }

  .sidebar ul li a:hover{
    color: var(--toggle-color);
    background: var(--background-color);
  }

  .sidebar ul li a i{
    font-size: 22px;
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    text-align: center;
    transition: all 0.5s ease;
  }

  .sidebar .icon_name{
    opacity: 0;
    pointer-events: none;
  }

  .sidebar.active .icon_name{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
  }

  .sidebar .nav_list .mode{
    background: var(--mode-background);
    border-radius: 15px;
    display: flex;
    align-items: center;
    position: relative;
    color: var(--text-color);
    position: relative;
  }

  .sidebar .nav_list .mode .moon-sun{
    font-size: 22px;
    height: 50px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar .nav_list .mode i{
    position: absolute;
  }

  .sidebar .nav_list .mode i.sun{
    opacity: 0;
  }

  body.dark .sidebar .mode .moon-sun .sun{
    opacity: 1;
  }

  body.dark .sidebar .mode .moon-sun .moon{
    opacity: 0;
  }

  .sidebar .nav_list .mode .mode_name{
    opacity: 0;
    pointer-events: none;
    position: relative;
    white-space: nowrap;
  }

  .sidebar.active .nav_list .mode .mode_name{
    opacity: 1;
    pointer-events: none;
    transition: all 0.5s ease;
  }

  .sidebar .mode .toggle-switch{
    position: absolute;
    right: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 45px;
    cursor: pointer;
  }

  .toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: #b7b6b6;
  }

  .toggle-switch .switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--toggle-color);
    transition: all 0.5s ease;
  }

  body.dark .sidebar .nav_list .mode .toggle-switch .switch::before{
    left: 24px;
  }

  .sidebar .profile_content{
    position: absolute;
    color: white;
    bottom: 20px;
    left: 15px;
    width: 85%;
  }

  .sidebar .profile_content .profile{
    position: relative;
    padding: 0 10px;
    height: 50px;
    border-radius: 15px;
  }

  .sidebar.active .profile_content .profile{
    background: none;
  }

  .profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
  }

  .sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
  }

  .profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
  }

  .profile .profile_details .name_id{
    margin-left: 10px;
  }

  .profile .profile_details .name{
    font-size: 17px;
    font-weight: 450;
  }

  .profile .profile_details .id{
    font-size: 15px;
  }

  .profile #logout{
    color: var(--toggle-color);
    cursor: pointer;
    position: absolute;
    left: 35%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 40px;
    font-size: 20px;
    border-radius: 15px;
    text-align: center;
    transition: all 0.4s ease;
    background: var(--background-color);
  }

  .sidebar.active .profile #logout{
    cursor: pointer;
    left: 88%;
    background: var(--background-color);
  }