<!DOCTYPE html>
<html>
<head>
    <title>Booking History</title>
</head>
<body>
    <h1>Booking History</h1>
    <table border="1">
        <tr>
            <th>Driver Full Name</th>
            <th>Driver Gender</th>
            <th>Driver Contact</th>
            <th>DateandTime</th>
            <th>Pick-Up Location</th>
            <th>Drop-Off Location</th>
            <th>Passenger Full Name</th>
            <th>Passenger Gender</th>
            <th>Passenger Contact</th>
            <th>Fees</th>
            <th>DuitNow ID</th>
            <th>Message</th>
        </tr>

        <tr>
            <td>{{ profile_dict[driver.user_id].fullName if profile_dict[driver.user_id] else 'N/A' }}</td>
            <td>{{ profile_dict[driver.user_id].gender if profile_dict[driver.user_id] else 'N/A' }}</td>
            <td>{{ profile_dict[driver.user_id].contact if profile_dict[driver.user_id] else 'N/A' }}</td>
            <td>{{ driver.dateandTime }}</td>
            <td>{{ driver.pickup }}</td>
            <td>{{ driver.dropoff }}</td>
            <td>{{ profile_dict[passengers.passenger_id].fullName }}</td>
            <td>{{ profile_dict[passengers.passenger_id].gender }}</td>
            <td>{{ profile_dict[passengers.passenger_id].contact }}</td>
            <td>{{ driver.fees }}</td>
            <td>{{ driver.duitnowid }}</td>
            <td>{{ driver.message }}</td>

        </tr>


    </table>
</body>
</html>
