{% extends "base_passenger.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/changepassword.css">
        <title>Change Password</title>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    </head>

    <body>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          <div class="flashes show" id="flashes">
              {% for category, message in messages %}
                  <div class="flash {{ category }}">
                      {{ message }}
                      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                  </div>
              {% endfor %}
          </div>
      {% endif %}
      {% endwith %}

      <script>
          function hideFlashes() {
              const flashes = document.getElementById('flashes');
              if (flashes) {
                  // Set a timeout to hide the flashes after 3 seconds (3000 milliseconds)
                  setTimeout(() => {
                      flashes.style.opacity = '0';
                      setTimeout(() => {
                          flashes.style.display = 'none';
                      }, 600);
                  }, 3000);
              }
          }
          hideFlashes();
      </script>
      
        <div class="container">
            <h1 align="center" class="text-lg-center mt-2 mb-2">Change Password</h1>
            
            <div class="box">
              <form method="POST" id="change-password-form">
                  <div class="middle-box">
                      <div class="inner-center">
                          <i class='bx bxs-envelope'></i>
                          <ion-icon name="eye-off-outline" id="eyeicon1"></ion-icon>
                          <label for="old_password" class="form-label">Old Password</label>
                          <br>
                          <input type="password" name="old_password" id="old_password" class="form-control" required minlength="8" placeholder="Enter Old Password"><br>
                      </div>

                      <script>
                          let eyeicon1 = document.getElementById("eyeicon1");
                          let old_password = document.getElementById("old_password");
          
                          eyeicon1.onclick = function(){
                            if(old_password.type == "password"){
                              old_password.type = "text";
                              eyeicon1.setAttribute('name', 'eye-outline');
                            }else{
                              old_password.type = "password";
                              eyeicon1.setAttribute('name', 'eye-off-outline')
                            }
                          }
                      </script>

                      <div class="inner-center">
                          <i class='bx bxs-lock-alt' ></i>
                          <ion-icon name="eye-off-outline" id="eyeicon2"></ion-icon>
                          <label for="new_password" class="form-label">New Password</label>
                          <br>
                          <input type="password" name="new_password" id="new_password" class="form-control" required minlength="8" placeholder="Enter New Password"><br>
                      </div>

                      <script>
                          let eyeicon2 = document.getElementById("eyeicon2");
                          let new_password = document.getElementById("new_password");
          
                          eyeicon2.onclick = function(){
                            if(new_password.type == "password"){
                              new_password.type = "text";
                              eyeicon2.setAttribute('name', 'eye-outline');
                            }else{
                              new_password.type = "password";
                              eyeicon2.setAttribute('name', 'eye-off-outline')
                            }
                          }
                      </script>

                      <div class="inner-center">
                          <i class='bx bxs-lock-alt' ></i>
                          <ion-icon name="eye-off-outline" id="eyeicon3"></ion-icon>
                          <label for="confirm_new_password" class="form-label">Confirm New Password</label>
                          <br>
                          <input type="password" name="confirm_new_password" id="confirm_new_password" class="form-control" required minlength="8" placeholder="Enter Confirm Password"><br>
                      </div>

                      <script>
                          let eyeicon3 = document.getElementById("eyeicon3");
                          let confirm_new_password = document.getElementById("confirm_new_password");
          
                          eyeicon3.onclick = function(){
                            if(confirm_new_password.type == "password"){
                              confirm_new_password.type = "text";
                              eyeicon3.setAttribute('name', 'eye-outline');
                            }else{
                              confirm_new_password.type = "password";
                              eyeicon3.setAttribute('name', 'eye-off-outline')
                            }
                          }
                      </script>

                      <br>
                      <br>
                      <a href="/editprofile">
                          <button class="btn" type="submit">Change Password</button>
                      </a>
                  </div>
              </form>
            </div>
        </div>
    </body>
</html>
{% endblock %}