
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/driver_post.css">
        <title>Driver Profile</title>
    </head>

    <body>
        <div class="logout">
            <a href="/">
                <input type="image" src="../static/pic&video/logout icon.png" width="50px" height="50px">
            </a>
        </div>

        <div class="outside-center">
            <h1 align="center">Rider Post</h1>
            <div class="middle-box">
                <form action="{{ url_for('main.driver_post') }}" method="post">
                    

                    <div class="inner-center">
                        <label for="dateandTime">Date & Time</label>
                        <br>
                        <input type="datetime-local" id="dateandTime" name="dateandTime" required><br>
                    </div>

                    <div class="left-right">
                        <div class="inner-center">
                            <label for="pickup">Pick-Up Location</label>
                            <br>
                            <select name="pickup" id="pickup" required>
                                <option value="HB1">HB1</option>
                                <option value="HB2">HB2</option>
                                <option value="HB3">HB3</option>
                                <option value="HB4">HB4</option>
                                <option value="FCI">FCI</option>
                                <option value="STADIUM">STADIUM MMU</option>
                                <option value="DTC">DTC</option>
                                <option value="Dpulze">Dpulze</option>
                                <option value="TamarindSquare">Tamarind Square</option>
                                <option value="MutiaraVille">Mutiara Ville</option>
                                <option value="TheArc">The Arc</option>
                            </select><br>
                        </div>

                        <div class="inner-center">
                            <label for="dropoff">Drop-Off Location</label>
                            <br>
                            <select name="dropoff" id="dropoff" required>
                                <option value="HB1">HB1</option>
                                <option value="HB2">HB2</option>
                                <option value="HB3">HB3</option>
                                <option value="HB4">HB4</option>
                                <option value="FCI">FCI</option>
                                <option value="MMUSTADIUM">MMU STADIUM</option>
                                <option value="DTC">DTC</option>
                                <option value="Dpulze">Dpulze</option>
                                <option value="TamarindSquare">Tamarind Square</option>
                                <option value="MutiaraVille">Mutiara Ville</option>
                                <option value="TheArc">The Arc</option>
                            </select><br>
                        </div>
                    </div>

                    <div class="left-right">
                        <div class="inner-center">
                            <label for="carplate">Car Plate</label>
                             <br>
                            <input id="carplate" type="text" name="carplate" required placeholder="Enter Car Plate"><br>
                        </div>
                            
                        <div class="inner-center">
                            <label for="carmodel">Car Model</label>
                             <br><input id="carmodel" type="text" name="carmodel" required placeholder="Enter Car Model"><br>
                        </div>
                    </div>

                    <div class="inner-center">
                        <label for="totalperson">Maximum Number of Passengers</label>
                        <br>
                        <input type="number" id="totalperson" name="totalperson" required>
                    </div>

                    <div class="inner-center">
                        <label for="fees">Fees</label>
                        <br>
                        <select id="fees" name="fees">
                            <option value="Free">Free</option>
                            <option value="RM1" >RM1 per person</option>
                        </select><br>
                    </div>

                    <div class="inner-center">
                        <label for="duitnowid">ID</label>
                        <br><input type="text" id="duitnowid"  name="duitnowid" placeholder="Enter Your ID（TNG/DuitNow）"><br><br>
                    </div>

                    <div class="inner-center">
                        <label for="message">Note</label>
                        <textarea id="message" name="message" rows="10" cols="30" placeholder="Enter Note..."></textarea><br><br>
                    </div>

                    <a href="#">
                        <input type="submit" value="Submit" class="btn">
                    </a>
                </form>
            </div>
        </div>
    </body>
</html>