{% extends "base.html" %}
{% block title %}Driver List{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024">
    <title>DriversList</title>
    <link rel="stylesheet" href="../static/drivers_list.css">
</head>
 
<body>
    <script>
        window.onload = function() {
            var screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

            if (screenWidth < 1024) {
                window.location.href = "desktop-version.html";
            }
        };
    </script>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashes show" id="flashes">
            {% for category, message in messages %}
                <div class="flash {{ category }}">
                    {{ message }}
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <script>
        function hideFlashes() {
            const flashes = document.getElementById('flashes');
            if (flashes) {
                // Set a timeout to hide the flashes after 3 seconds (3000 milliseconds)
                setTimeout(() => {
                    flashes.style.opacity = '0';
                    setTimeout(() => {
                        flashes.style.display = 'none';
                    }, 600);
                }, 3000);
            }
        }
        hideFlashes();
    </script>
    
    <main class="table">

        <section class="table_header">
            <h1>Driver List</h1>
        </section>



        <section class="table_body">
            <table border="1">
                <thead>
                <tr>
                    <th>Driver ID</th>
                    <th>Full Name</th>
                    <th>Gender</th>
                    <th>Date and Time</th>
                    <th>Start Location</th>
                    <th>End Location</th>
                    <th>Maximum Number of Passengers</th>
                    <th>Fees</th>
                    <th>DuitNow ID</th>
                    <th>Message</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for driver in drivers %}
                <tr>
                    <td>{{ driver.user_id }}</td>
                    <td>{{ profile_dict[driver.user_id].fullName if profile_dict[driver.user_id] else 'N/A' }}</td>
                    <td>{{ profile_dict[driver.user_id].gender if profile_dict[driver.user_id] else 'N/A' }}</td>
                    <td>{{ driver.dateandTime }}</td>
                    <td>{{ driver.start_location }}</td>
                    <td>{{ driver.end_location }}</td>
                    <td>{{ driver.totalperson }}</td>
                    <td>{{ driver.fees }}</td>
                    <td>{{ driver.duitnowid }}</td>
                    <td>{{ driver.message }}</td>
                    <td><form action="{{ url_for('main.select_driver', driver_id=driver.id) }}" method="POST">
                            <input type="submit" value="Select Driver" class="btn">
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>
{% endblock %}