<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024">
    <link rel="stylesheet" href="../static/forgotpassword.css">
    <title>Forgot Password</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
</head>
<body>
    <div class="logout">
        <a href="/">
            <input type="image" src="../static/pic&video/logout icon.png" width="50px" height="50px">
        </a>
    </div>
    
    <div class="outside-center">
        <h1 align="center">Forgot Password</h1>
        <div class="middle-box">
            <div class="inner-center">
                <i class='bx bxs-envelope'></i>
                Email Address<br><input type="text" name="emailaddress" placeholder="Enter Email Address" required><br>
            </div>

            <div class="inner-center">
                <i class='bx bxs-lock-alt' ></i>
                <ion-icon name="eye-off-outline" id="eyeicon1"></ion-icon>
                New Password<br><input type="password" name="newpassword" id="newpassword" placeholder="Enter New Password" required><br>
            </div>

            <script>
                let eyeicon1 = document.getElementById("eyeicon1");
                let newpassword = document.getElementById("newpassword");

                eyeicon1.onclick = function(){
                    if(newpassword.type == "password"){
                    newpassword.type = "text";
                    eyeicon1.setAttribute('name', 'eye-outline');
                    }else{
                    newpassword.type = "password";
                    eyeicon1.setAttribute('name', 'eye-off-outline')
                    }
                }
            </script>

            <div class="inner-center">
                <i class='bx bxs-lock-alt' ></i>
                <ion-icon name="eye-off-outline" id="eyeicon2"></ion-icon>
                Confirm New Password<br><input type="password" name="confirmnewpassword" id="confirmnewpassword" placeholder="Enter Confirm Password" required><br>
            </div>

            <script>
                let eyeicon2 = document.getElementById("eyeicon2");
                let confirmnewpassword = document.getElementById("confirmnewpassword");

                eyeicon2.onclick = function(){
                    if(confirmnewpassword.type == "password"){
                    confirmnewpassword.type = "text";
                    eyeicon2.setAttribute('name', 'eye-outline');
                    }else{
                    confirmnewpassword.type = "password";
                    eyeicon2.setAttribute('name', 'eye-off-outline')
                    }
                }
            </script>
            <br>
            <br>
            <a href="/login">
                <input type="submit" value="Submit" class="btn">
            </a>
        </div>
    </div>
</body>
</html>