{% extends "base_passenger.html" %}
{% block title %}Google Map{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Map</title>
    <link rel="stylesheet" href="../static/googlemap.css">
</head>
    <body>
        <div class="container">
            <h1>Google Map</h1>
            <button onclick="getLocation()">GET CURRENT LOCATION</button>
            <div id="mapholder"></div>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2un2GtIOA0jUz-BXUs34Vj-mIfsCiRdk&callback=console.debug&libraries=maps,marker&v=beta"></script>
            <script>
                var x=document.getElementById();
                function getLocation()
                {
                    if (navigator.geolocation)
                    {
                        navigator.geolocation.getCurrentPosition(showPosition,showError);
                    }
                    else
                    {
                        x.innerHTML="YOUR DEVICE CANNOT DETECT LOCATION";
                    }
                }
                
                function showPosition(position)
                {

                    latlon=new google.maps.LatLng(position.coords.latitude, position.coords.longitude)
                    mapholder=document.getElementById('mapholder')
                    mapholder.style.height='500px';
                    mapholder.style.width='800px';
                
                    var myOptions={
                        center:latlon,zoom:15,
                        mapTypeId:google.maps.MapTypeId.ROADMAP,
                        mapTypeControl:false,
                        navigationControlOptions:{style:google.maps.NavigationControlStyle.SMALL}
                    };
                    var map=new google.maps.Map(document.getElementById("mapholder"),myOptions);
                    var marker=new google.maps.Marker({position:latlon,map:map,title:"You are here!"});
                }
                
                function showError(error)
                {
                    switch(error.code) 
                    {
                        case error.PERMISSION_DENIED:
                            x.innerHTML="ERROR"
                            break;
                        case error.POSITION_UNAVAILABLE:
                            x.innerHTML="ERROE"
                            break;
                        case error.TIMEOUT:
                            x.innerHTML="ERROR"
                            break;
                        case error.UNKNOWN_ERROR:
                            x.innerHTML="ERROR。"
                            break;
                    }
                }
            </script>
        </div>
    </body>
</html>
{% endblock %}