{% extends "base_driver.html" %}
{% block title %}Match Passenger{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match with Passenger</title>
    <link rel="stylesheet" href="../static/match_passenger.css">
  </head>

<body>
    <div class="container">

        <div class="header">
            <h1>Your Information</h1>
        </div>

        <table border="1">
            <tr>
                <th>Full Name</th>
                <th>Gender</th>
                <th>Contact</th>
                <th>Date and Time</th>
                <th>Pick-Up Location</th>
                <th>Drop-Off Location</th>
                <th>Car Plate</th>
                <th>Car Model</th>
                <th>Maximum Number of Passengers</th>
                <th>Fees</th>
                <th>DuitNow ID</th>
                <th>Message</th>
            </tr>

            <tr>
                <td>{{ profile_dict[driver.user_id].fullName }}</td>
                <td>{{ profile_dict[driver.user_id].gender }}</td>
                <td>{{ profile_dict[driver.user_id].contact }}</td>
                <td>{{ driver.dateandTime }}</td>
                <td>{{ driver.pickup }}</td>
                <td>{{ driver.dropoff }}</td>
                <td>{{ driver.carplate }}</td>
                <td>{{ driver.carmodel }}</td>
                <td>{{ driver.totalperson }}</td>
                <td>{{ driver.fees }}</td>
                <td>{{ driver.duitnowid }}</td>
                <td>{{ driver.message }}</td>
            </tr>

        <h2>Waiting List</h2>
        <table border="1">
            <tr>
                <th>Full Name</th>
                <th>Gender</th>
                <th>Contact</th>
                <th>Payment Proof</th> <!-- New column for payment proof -->
                <th>Status</th>
                <th>Action</th>
            </tr>
            {% for match in matches %}
            <tr>
                <td>{{ profile_dict[match.passenger_id].fullName }}</td>
                <td>{{ profile_dict[match.passenger_id].gender }}</td>
                <td>{{ profile_dict[match.passenger_id].contact }}</td>
                <td>{% if match.payment_proof %}
                    <img src="{{ url_for('static', filename='payment/' ~ match.payment_proof.file_name) }}" alt="Payment Proof" style="width:150px;height:150px;">
                {% else %}
                    Pay By Cash</td>
                {% endif %}
                <td>{{ match.status }}</td>
                <td>
                    <form action="{{ url_for('main.remove_passenger', passenger_id=match.passenger_id, driver_id=driver.id) }}" method="POST">
                        <input type="submit" value="Remove Passenger" class="btn">
                    </form>
                    
        
                </td>

            </tr>
            {% endfor %}

            {% for match in matchess %}
            <tr>
                <td>{{ profile_dict[match.passenger_id].fullName }}</td>
                <td>{{ profile_dict[match.passenger_id].gender }}</td>
                <td>{{ profile_dict[match.passenger_id].contact }}</td>
                <td>{% if match.payment_proof %}
                    <img src="{{ url_for('static', filename='payment/' ~ match.payment_proof.file_name) }}" alt="Payment Proof" style="width:150px;height:150px;">
                {% else %}
                    Pay By Cash
                {% endif %}</td>
                <td>{{ match.status }}</td>
                <td>
                    <form action="{{ url_for('main.remove_passenger', passenger_id=match.passenger_id, driver_id=driver.id) }}" method="POST">
                        <input type="submit" value="Remove Passenger" class="btn">
                    </form>
                </td>
                
            </tr>

            {% endfor %}

            {% for match in matches_confirmed %}
            <tr>
                <td>{{ profile_dict[match.passenger_id].fullName }}</td>
                <td>{{ profile_dict[match.passenger_id].gender }}</td>
                <td>{{ profile_dict[match.passenger_id].contact }}</td>
                <td>{% if match.payment_proof %}
                    <img src="{{ url_for('static', filename='payment/' ~ match.payment_proof.file_name) }}" alt="Payment Proof" style="width:150px;height:150px;">
                {% else %}
                    Pay By Cash
                {% endif %}</td>
                <td>{{ match.status }}</td>
                <td>
                    <form action="{{ url_for('main.remove_passenger', passenger_id=match.passenger_id, driver_id=driver.id) }}" method="POST">
                        <input type="submit" value="Remove Passenger" class="btn">
                    </form>
                </td>

            </tr>
            
            {% endfor %}
                
            
        </table>
    </div>
</body>
</html>
{% endblock %}
