<!DOCTYPE html>
<html>
    <head>
    
        <title>Match Rider</title>
    </head>

    <body>
        <h2>Driver: {{ profile_dict[driver.user_id].fullName }}</h2>
        <p>Gender: {{ profile_dict[driver.user_id].gender }}</p>
        <p>Contact: {{ profile_dict[driver.user_id].contact }}</p>
        <p>Date & Time: {{ driver.dateandTime }}</p>
        <p>Starting Point: {{ driver.pickup }}</p>
        <p>Drop Off Point: {{ driver.dropoff }}</p>
        <p>Carplate:{{ driver.carplate }}</p>
        <p>Carmodel:{{ driver.carmodel }}</p>

        <h3>Other Passengers:</h3>
        {% for passenger in passengers %}
        <p>{{ profile_dict[passenger.passenger_id].fullName }} - {{ profile_dict[passenger.passenger_id].contact }}</p>
        {% endfor %}

        {% for passenger in passengerss %}
        <p>{{ profile_dict[passenger.passenger_id].fullName }} - {{ profile_dict[passenger.passenger_id].contact }}</p>
        {% endfor %}

        {% for passenger in passengers_confirmed %}
        <p>{{ profile_dict[passenger.passenger_id].fullName }} - {{ profile_dict[passenger.passenger_id].contact }}</p>
        {% endfor %}
    </body>
</html>