{% extends "base_passenger.html" %}
{% block title %}Driver List{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Driver</title>
    <link rel="stylesheet" href="../static/match_driver.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashes show" id="flashes">
            {% for category, message in messages %}
                <div class="flash {{ category }}">
                    {{ message }}
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <script>
        function hideFlashes() {
            const flashes = document.getElementById('flashes');
            if (flashes) {
                // Set a timeout to hide the flashes after 3 seconds (3000 milliseconds)
                setTimeout(() => {
                    flashes.style.opacity = '0';
                    setTimeout(() => {
                        flashes.style.display = 'none';
                    }, 600);
                }, 3000);
            }
        }
        hideFlashes();
    </script>
    
    <div class="container">
        <div class="size">
            <div class="box">
                <div class="driver">
                    <div class="header">
                        <h1>Driver</h1>
                    </div>

                    <div class="details">
                        <div class="row">
                            <div class="info">
                                <i class='bx bxs-user'></i>
                                <h3>Full Name</h3>
                                <p>{{ profile_dict[driver.user_id].fullName }}</p>
                            </div>
                            <div class="info">
                                <i class='bx bx-male-female'></i>
                                <h3>Gender</h3>
                                <p>{{ profile_dict[driver.user_id].gender }}</p>
                            </div>
                            <div class="info">
                                <i class='bx bxs-phone-call'></i>
                                <h3>Contact</h3>
                                <p>{{ profile_dict[driver.user_id].contact }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="info_left-right">
                                <i class='bx bxs-time' ></i>
                                <div class="info_up-down">
                                    <h3>Date and Time</h3>
                                    <p>{{ driver.dateandTime }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="info_left-right">
                                <i class='bx bxs-map'></i>
                                <div class="info_up-down">
                                    <h3>Start Location</h3>
                                    <p>{{ driver.start_location }}</p>
                                </div>
                            </div>
                            <div class="info_left-right">
                                <i class='bx bxs-map'></i>
                                <div class="info_up-down">
                                    <h3>End Location</h3>
                                    <p>{{ driver.end_location }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="info_left-right">
                                <i class='bx bxs-car'></i>
                                <div class="info_up-down">
                                    <h3>Car Plate</h3>
                                    <p>{{ driver.carplate }}</p>
                                </div>
                            </div>
                            <div class="info_left-right">
                                <i class='bx bxs-car'></i>
                                <div class="info_up-down">
                                    <h3>Car Model</h3>
                                    <p>{{ driver.carmodel }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="passenger">
                    <div class="header">
                        <h1>Other Passengers</h1>
                    </div>

                    <div class="details">
                        {% for passenger in passengers %}
                        <div class="seperate">
                            <div class="info_left-right">
                                <i class='bx bxs-user'></i>
                                <div class="info_up-down">
                                    <h3>Full Name</h3>
                                    <p>{{ profile_dict[passenger.passenger_id].fullName }}</p>
                                </div>
                            </div>

                            <div class="info_left-right">
                                <i class='bx bx-male-female'></i>
                                <div class="info_up-down">
                                    <h3>Gender</h3>
                                    <p>{{ profile_dict[passenger.passenger_id].gender }}</p>
                                </div>
                            </div>

                            <div class="info_left-right">
                                <i class='bx bxs-phone-call'></i>
                                <div class="info_up-down">
                                    <h3>Contact</h3>
                                    <p>{{ profile_dict[passenger.passenger_id].contact }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                        {% for passenger in passengers_confirmed %}
                        <div class="seperate">
                            <div class="info_left-right">
                                <i class='bx bxs-user'></i>
                                <div class="info_up-down">
                                    <h3>Full Name</h3>
                                    <p>{{ profile_dict[passenger.passenger_id].fullName }}</p>
                                </div>
                            </div>

                            <div class="info_left-right">
                                <i class='bx bx-male-female'></i>
                                <div class="info_up-down">
                                    <h3>Gender</h3>
                                    <p>{{ profile_dict[passenger.passenger_id].gender }}</p>
                                </div>
                            </div>

                            <div class="info_left-right">
                                <i class='bx bxs-phone-call'></i>
                                <div class="info_up-down">
                                    <h3>Contact</h3>
                                    <p>{{ profile_dict[passenger.passenger_id].contact }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        {% for passenger in passengers_completed %}
                        <div class="seperate">
                            <div class="info_left-right">
                                <i class='bx bxs-user'></i>
                                <div class="info_up-down">
                                    <h3>Full Name</h3>
                                    <p>{{ profile_dict[passenger.passenger_id].fullName }}</p>
                                </div>
                            </div>

                            <div class="info_left-right">
                                <i class='bx bx-male-female'></i>
                                <div class="info_up-down">
                                    <h3>Gender</h3>
                                    <p>{{ profile_dict[passenger.passenger_id].gender }}</p>
                                </div>
                            </div>

                            <div class="info_left-right">
                                <i class='bx bxs-phone-call'></i>
                                <div class="info_up-down">
                                    <h3>Contact</h3>
                                    <p>{{ profile_dict[passenger.passenger_id].contact }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        {% for passenger in passengers_approving %}
                        <div class="seperate">
                            <div class="info_left-right">
                                <i class='bx bxs-user'></i>
                                <div class="info_up-down">
                                    <h3>Full Name</h3>
                                    <p>{{ profile_dict[passenger.passenger_id].fullName }}</p>
                                </div>
                            </div>

                            <div class="info_left-right">
                                <i class='bx bx-male-female'></i>
                                <div class="info_up-down">
                                    <h3>Gender</h3>
                                    <p>{{ profile_dict[passenger.passenger_id].gender }}</p>
                                </div>
                            </div>

                            <div class="info_left-right">
                                <i class='bx bxs-phone-call'></i>
                                <div class="info_up-down">
                                    <h3>Contact</h3>
                                    <p>{{ profile_dict[passenger.passenger_id].contact }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}