{% extends "base.html" %}
{% block title %}Passenger Matched{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passenger Matched</title>
    <link rel="stylesheet" href="../static/passenger_matched.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashes show" id="flashes">
            {% for category, message in messages %}
                <div class="flash {{ category }}">
                    {{ message }}
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <script>
        function hideFlashes() {
            const flashes = document.getElementById('flashes');
            if (flashes) {
                // Set a timeout to hide the flashes after 3 seconds (3000 milliseconds)
                setTimeout(() => {
                    flashes.style.opacity = '0';
                    setTimeout(() => {
                        flashes.style.display = 'none';
                    }, 600);
                }, 3000);
            }
        }
        hideFlashes();
    </script>
    
    <div class="container">
        <div class="size">
            <div class="passenger">
                <div class="header">
                    <h1>Your Passengers</h1>
                </div>

                <div class="details">
                    {% for match in matches %}
                    <div class="seperate">
                        <div class="row">
                            <div class="info_left-right">
                                <i class='bx bxs-user'></i>
                                <div class="info_up-down">
                                    <h3>Full Name</h3>
                                    <p>{{ profile_dict[match.passenger_id].fullName }}</p>
                                </div>
                            </div>

                            <div class="info_left-right">
                                <i class='bx bx-male-female'></i>
                                <div class="info_up-down">
                                    <h3>Gender</h3>
                                    <p>{{ profile_dict[match.passenger_id].gender }}</p>
                                </div>
                            </div>

                            <div class="info_left-right">
                                <i class='bx bxs-phone-call'></i>
                                <div class="info_up-down">
                                    <h3>Contact</h3>
                                    <p>{{ profile_dict[match.passenger_id].contact }}</p>
                                </div>
                            </div>
                        <!-- </div> -->

                        <!-- <div class="row"> -->
                            <div class="info_left-right">
                                <i class='bx bxs-credit-card'></i>
                                <div class="info_up-down">
                                    <h3>Payment</h3>
                                    <p>
                                        {% if match.payment_proof %}
                                            <div class="main_div">
                                                <button onclick="bigit()">Image Enlargement</button><br><button onclick="littleit()">Image reduction</button>
                                                <div class="pic_div">
                                                    <img src="{{ url_for('static', filename='payment/' ~ match.payment_proof.file_name) }}" alt="Payment Proof" class="pic"> 
                                                </div>
                                            </div>
                                                
                                        {% else %}
                                            Cash
                                        {% endif %}
                                    </p>
                                </div>
                            </div>

                            <div class="info_left-right">
                                <i class='bx bx-loader-circle' ></i>
                                <div class="info_up-down">
                                    <h3>Status</h3>
                                    <p>{{ match.status }}</p>
                                </div>
                            </div>

                            <div class="info_left-right"></div>
                                <div class="info_up-down">
                                    <h3>Action</h3>
                                    <form action="{{ url_for('main.reject_passenger', match_id=driver.id) }}" method="POST">
                                        <input type="submit" value="Reject" class="btn">
                                    </form>
                                    <form action="{{ url_for('main.confirm_match', match_id=driver.id) }}" method="POST">
                                        <input type="submit" value="Confirm" class="btn">
                                    </form>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                    {% endfor %}


                    {% for match in matches_completed %}
                    <div class="seperate">
                        <div class="row">
                            <div class="info_left-right">
                                <i class='bx bxs-user'></i>
                                <div class="info_up-down">
                                    <h3>Full Name</h3>
                                    <p>{{ profile_dict[match.passenger_id].fullName }}</p>
                                </div>
                            </div>

                            <div class="info_left-right">
                                <i class='bx bx-male-female'></i>
                                <div class="info_up-down">
                                    <h3>Gender</h3>
                                    <p>{{ profile_dict[match.passenger_id].gender }}</p>
                                </div>
                            </div>

                            <div class="info_left-right">
                                <i class='bx bxs-phone-call'></i>
                                <div class="info_up-down">
                                    <h3>Contact</h3>
                                    <p>{{ profile_dict[match.passenger_id].contact }}</p>
                                </div>
                            </div>
                        <!-- </div> -->

                        <!-- <div class="row"> -->
                            <div class="info_left-right">
                                <i class='bx bxs-credit-card'></i>
                                <div class="info_up-down">
                                    <h3>Payment</h3>
                                    <p>
                                        {% if match.payment_proof %}
                                            <img src="{{ url_for('static', filename='payment/' ~ match.payment_proof.file_name) }}" alt="Payment Proof">
                                        {% else %}
                                            Cash
                                        {% endif %}
                                    </p>
                                </div>
                            </div>

                            <div class="info_left-right">
                                <i class='bx bx-loader-circle' ></i>
                                <div class="info_up-down">
                                    <h3>Status</h3>
                                    <p>{{ match.status }}</p>
                                </div>
                            </div>

                            <div class="info_left-right"></div>
                                <div class="info_up-down">
                                    <h3>Action</h3>
                                    <form action="{{ url_for('main.reject_passenger', match_id=driver.id) }}" method="POST">
                                        <input type="submit" value="Reject" class="btn">
                                    </form>
                                    <form action="{{ url_for('main.confirm_match', match_id=driver.id) }}" method="POST">
                                        <input type="submit" value="Confirm" class="btn">
                                    </form>
                                </div>
                            </div>
                        </div>

                    
                    </div>
                    {% endfor %}


                    {% for match in matches_confirmed %}
                    <div class="seperate">
                        <div class="row">
                            <div class="info_left-right">
                                <i class='bx bxs-user'></i>
                                <div class="info_up-down">
                                    <h3>Full Name</h3>
                                    <p>{{ profile_dict[match.passenger_id].fullName }}</p>
                                </div>
                            </div>

                            <div class="info_left-right">
                                <i class='bx bx-male-female'></i>
                                <div class="info_up-down">
                                    <h3>Gender</h3>
                                    <p>{{ profile_dict[match.passenger_id].gender }}</p>
                                </div>
                            </div>

                            <div class="info_left-right">
                                <i class='bx bxs-phone-call'></i>
                                <div class="info_up-down">
                                    <h3>Contact</h3>
                                    <p>{{ profile_dict[match.passenger_id].contact }}</p>
                                </div>
                            </div>
                        <!-- </div> -->

                        <!-- <div class="row"> -->
                            <div class="info_left-right">
                                <i class='bx bxs-credit-card'></i>
                                <div class="info_up-down">
                                    <h3>Payment</h3>
                                    <p>
                                        {% if match.payment_proof %}
                                            <img src="{{ url_for('static', filename='payment/' ~ match.payment_proof.file_name) }}" alt="Payment Proof">
                                        {% else %}
                                            Cash
                                        {% endif %}
                                    </p>
                                </div>
                            </div>

                            <div class="info_left-right">
                                <i class='bx bx-loader-circle' ></i>
                                <div class="info_up-down">
                                    <h3>Status</h3>
                                    <p>{{ match.status }}</p>
                                </div>
                            </div>

                            <div class="info_left-right"></div>
                                <div class="info_up-down">
                                    <h3>Action</h3>
                                    <form action="{{ url_for('main.reject_passenger', match_id=driver.id) }}" method="POST">
                                        <input type="submit" value="Reject" class="btn">
                                    </form>
                                    <form action="{{ url_for('main.confirm_match', match_id=driver.id) }}" method="POST">
                                        <input type="submit" value="Confirm" class="btn">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                {% for match in matches_review %}
                    <div class="seperate">
                        <div class="row">
                            <div class="info_left-right">
                                <i class='bx bxs-user'></i>
                                <div class="info_up-down">
                                    <h3>Full Name</h3>
                                    <p>{{ profile_dict[match.passenger_id].fullName }}</p>
                                </div>
                            </div>

                            <div class="info_left-right">
                                <i class='bx bx-male-female'></i>
                                <div class="info_up-down">
                                    <h3>Gender</h3>
                                    <p>{{ profile_dict[match.passenger_id].gender }}</p>
                                </div>
                            </div>

                            <div class="info_left-right">
                                <i class='bx bxs-phone-call'></i>
                                <div class="info_up-down">
                                    <h3>Contact</h3>
                                    <p>{{ profile_dict[match.passenger_id].contact }}</p>
                                </div>
                            </div>
                        <!-- </div> -->

                        <!-- <div class="row"> -->
                            <div class="info_left-right">
                                <i class='bx bxs-credit-card'></i>
                                <div class="info_up-down">
                                    <h3>Payment</h3>
                                    <p>
                                        {% if match.payment_proof %}
                                            <img src="{{ url_for('static', filename='payment/' ~ match.payment_proof.file_name) }}" alt="Payment Proof">
                                        {% else %}
                                            Cash
                                        {% endif %}
                                    </p>
                                </div>
                            </div>

                            <div class="info_left-right">
                                <i class='bx bx-loader-circle' ></i>
                                <div class="info_up-down">
                                    <h3>Status</h3>
                                    <p>{{ match.status }}</p>
                                </div>
                            </div>

                            <div class="info_left-right"></div>
                                <div class="info_up-down">
                                    <h3>Action</h3>
                                    <form action="{{ url_for('main.reject_passenger', match_id=driver.id) }}" method="POST">
                                        <input type="submit" value="Reject" class="btn">
                                    </form>
                                    <form action="{{ url_for('main.confirm_match', match_id=driver.id) }}" method="POST">
                                        <input type="submit" value="Confirm" class="btn">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                {% if driver.id in driver_matches_dict and driver_matches_dict[driver.id]|length > 0 %}
                    <form action="{{ url_for('main.view_detail_d', match_id=driver_matches_dict[driver.id][0].id) }}" method="POST"></form>
                {% endif %}

                <br>
                <a href="{{ url_for('main.waiting_list', driver_id=driver_id) }}">
                    <div class="btn-container">
                        <button type="submit" class="btn">Waiting List</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function bigit(){
            var image=document.getElementsByClassName("pic")[0];
            image.style.height=image.height*8+'px';
            image.style.width=image.width*8+'px';
        }
        function littleit(){
            var image=document.getElementsByClassName("pic")[0];
            image.style.height=75+'px';
            image.style.width=75+'px';
        }
    </script>
</body>
</html>
{% endblock %}