<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/signup.css">
    <title>Sign Up</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  </head>

  <body>
    <div class="logout">
      <a href="/">
          <input type="image" src="../static/pic&video/logout icon.png" width="50px" height="50px">
      </a>
    </div>
    
    <div class="outer">
      <div class="inner">

        <div class="left">
          <video src="../static/pic&video/video.mp4" muted autoplay loop id="carvideo"></video>
        </div>

        <script>
          let vid = document.getElementById("carvideo");
          vid.playbackRate = 2;
        </script> 

        <div class="right">
          <div class="right-word">
            <h2 align="center">Sign Up</h2>
            
            <form method="POST">
            <form name="input" action="#" method="get">

              <div class="typing">
                <i class='bx bxs-envelope'></i>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
              </div>

              <div class="typing">
                <i class='bx bxs-lock-alt' ></i>
                <ion-icon name="eye-off-outline" id="eyeicon1"></ion-icon>
                <input type="password" class="form-control" id="password1" name="password1" placeholder="Password" required>
              </div>

              <script>
                let eyeicon1 = document.getElementById("eyeicon1");
                let password1 = document.getElementById("password1");

                eyeicon1.onclick = function(){
                  if(password1.type == "password"){
                    password1.type = "text";
                    eyeicon1.setAttribute('name', 'eye-outline');
                  }else{
                    password1.type = "password";
                    eyeicon1.setAttribute('name', 'eye-off-outline')
                  }
                }
              </script>

              <div class="typing">
                <i class='bx bxs-lock-alt' ></i>
                <ion-icon name="eye-off-outline" id="eyeicon2"></ion-icon>
                <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password" required>
              </div>

              <script>
                let eyeicon2 = document.getElementById("eyeicon2");
                let password2 = document.getElementById("password2");

                eyeicon2.onclick = function(){
                  if(password2.type == "password"){
                    password2.type = "text";
                    eyeicon2.setAttribute('name', 'eye-outline');
                  }else{
                    password2.type = "password";
                    eyeicon2.setAttribute('name', 'eye-off-outline')
                  }
                }
              </script>


              <a href="/profile">
                <button type="submit" class="btn">Sign Up</button>
              </a>


              <p class ="login">
                Already have an account?
                <a href="/login">Log In</a>
              </p>
            </form>
            </form>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>