<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/use_laptop.css">
    <title>Login</title>
</head>
<body>
    <div class="background">
        <div class="msg">
            <h2>Please use laptop for a better version of design.</h2>
            <p>Thank you and sorry for the inconvenience.</p>
            <a href="/">
                <button type="submit" class="btn">Noted</button>
            </a>
        </div>
    </div>
</body>
</html>