
<!DOCTYPE html>
<html>
    <head>
    
        <title>DriversList</title>
    </head>

    <body>
        <h1>DriverList</h1>
        <table border="1">
            <tr>
                <th>Full Name</th>
                <th>Gender</th>
                <th>Contact</th>
                <th>DateandTime</th>
                <th>Pick-Up Location</th>
                <th>Drop-Off Location</th>
                <th>Car Platet</th>
                <th>Car Model</th>
                <th>Maximum Number of Passengers</th>
                <th>Fees</th>
                <th>DuitNow ID</th>
                <th>message</th>
            </tr>
            {% for driver in drivers %}
            <tr>
                <td>{{ profile_dict[driver.user_id].fullName }}</td>
                <td>{{ profile_dict[driver.user_id].gender }}</td>
                <td>{{ profile_dict[driver.user_id].contact }}</td>
                <td>{{ driver.dateandTime }}</td>
                <td>{{ driver.pickup }}</td>
                <td>{{ driver.dropoff }}</td>
                <td>{{ driver.carplate }}</td>
                <td>{{ driver.carmodel }}</td>
                <td>{{ driver.totalperson }}</td>
                <td>{{ driver.fees }}</td>
                <td>{{ driver.duitnowid }}</td>
                <td>{{ driver.message }}</td>
                <td><input type="submit" value="Submit" class="btn"></td>
            </tr>
            {% endfor %}
        </table>

        <!-- <h1>Passenger List</h1>
        <table border="1">
            <tr>
                <th>Full Name</th>
                <th>Gender</th>
                <th>DateandTime</th>
                <th>Pick-Up Location</th>
                <th>Drop-Off Location</th>
                <th>Maximum Number of Passengers</th>
                <th>message</th>
            </tr>
            {% for passenger in passengers %}
            <tr>
                <td>{{ passenger.fullName }}</td>
                <td>{{ passenger.gender }}</td>
                <td>{{ passenger.dateandTime }}</td>
                <td>{{ passenger.pickup }}</td>
                <td>{{ passenger.dropoff }}</td>
                <td>{{ passenger.totalperson }}</td>
                <td>{{ passenger.message }}</td>
            </tr>
            {% endfor %} -->


    </body>
</html>