
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=".css">
        <title>Profile</title>
    </head>

    <body>
        <div class="outside-center">
            <h1 align="center">Profile</h1>
            <div class="middle-box">
                <form action="{{ url_for('main.profile') }}" method="post">


            

                    <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Full Name" required>
                            

                    <div class="inner-gender">
                        <label for="gender">Gender:</label>
                        <div class="choose-gender">
                            <div class="gender">
                                <input type="radio" name="gender" id="male" value="male">
                                <label for="male">Male</label>
                                <br>
                                <input type="radio" name="gender" id="female" value="female">
                                <label for="female">Female</label>
                            </div>
                        </div>
                    </div>

                    <div class="inner-center">
                        <br><input type="text" id="contact"  name="contact" placeholder="Contact Number"><br><br>
                    </div>

                    <input type="submit" value="Submit" class="btn">


                </form>

            </div>
        </div>

    </body>


</html>