{% extends "base.html" %} {% block title %}Driver Profile{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/driverprofile.css">
        <title>Driver Profile</title>
    </head>

    <body>
        <div class="logout">
            <a href="/home">
                <input type="image" src="../static/logout icon.png" width="50px" height="50px">
            </a>
        </div>

        <div class="outside-center">
            <div class="title">
                <b>Driver Profile</b>
            </div>
            <div class="middle-box">
                <form name="input" action="driverprofile.php" method="post">
                    
                    <div class="left-right">
                        <div class="inner-center">
                            Full Name<br><input type="text" name="fullName" placeholder="Enter Full Name" required><br>
                        </div>

                        <div class="inner-gender">
                            Gender
                            <div class="choose-gender">
                                <div class="gender">
                                    <input type="radio" name="gender" id="male" value="male">
                                    <label for="male">Male</label>
                                    <br>
                                    <input type="radio" name="gender" id="female" value="female">
                                    <label for="female">Female</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="inner-center">
                        Date & Time<br>
                        <input type="datetime-local" name="dateandTime" required><br>
                    </div>

                    <div class="left-right">
                        <div class="inner-center">
                            Pick-Up Location<br>
                            <select name="pickup" required>
                                <option value="HB1">HB1</option>
                                <option value="HB2">HB2</option>
                                <option value="HB3">HB3</option>
                                <option value="HB4">HB4</option>
                                <option value="FCI">FCI</option>
                                <option value="STADIUM">STADIUM MMU</option>
                                <option value="DTC">DTC</option>
                                <option value="Dpulze">Dpulze</option>
                                <option value="TamarindSquare">Tamarind Square</option>
                                <option value="MutiaraVille">Mutiara Ville</option>
                                <option value="TheArc">The Arc</option>
                            </select><br>
                        </div>

                        <div class="inner-center">
                            Drop-Off Location<br>
                            <select name="dropoff" required>
                                <option value="HB1">HB1</option>
                                <option value="HB2">HB2</option>
                                <option value="HB3">HB3</option>
                                <option value="HB4">HB4</option>
                                <option value="FCI">FCI</option>
                                <option value="MMUSTADIUM">MMU STADIUM</option>
                                <option value="DTC">DTC</option>
                                <option value="Dpulze">Dpulze</option>
                                <option value="TamarindSquare">Tamarind Square</option>
                                <option value="MutiaraVille">Mutiara Ville</option>
                                <option value="TheArc">The Arc</option>
                            </select><br>
                        </div>
                    </div>

                    <div class="left-right">
                        <div class="inner-center">
                            Car Plate <br><input type="text" name="carplate" required placeholder="Enter Car Plate"><br>
                        </div>
                            
                        <div class="inner-center">
                            Car Model <br><input type="text" name="carmodel" required placeholder="Enter Car Model"><br>
                        </div>
                    </div>

                    <div class="inner-center">
                        Maximum Number of Passengers<br>
                        <input type="number" name="totalperson" required>
                    </div>

                    <div class="inner-center">
                        Fees<br>
                        <select name="fees">
                            <option value="Free">Free</option>
                            <option value="RM1" >RM1 per person</option>
                        </select><br>
                    </div>

                    <div class="inner-center">
                        ID (DuitNow/TNG)
                        <br><input type="text" name="duitnowid" placeholder="Enter ID" required><br><br>
                    </div>

                    <div class="inner-center">
                        Note<textarea name="message" rows="10" cols="30" placeholder="Enter Note..."></textarea><br><br>
                    </div>

                    <a href="#">
                        <input type="submit" value="Submit" class="btn">
                    </a>
                </form>
            </div>
        </div>
    </body>
</html>
{% endblock %}