<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/driverorpassenger.css">
    <title>Driver OR Passenger</title>
  </head>
  
  <body>
    <div class="logout">
      <a href="/home">
          <input type="image" src="../static/logout icon.png" width="50px" height="50px">
      </a>
    </div>

    <div class="outside-center">
        <section class="about">
            <h2>I am a</h2>
            <div class="driver_and_passenger">
                <div class="dnp">
                    <a href="/driverprofile">
                        <img src="../static/driver.webp" width="200px" height="200px">
                        <div class="about_dnp">
                            <h3>Driver</h3>
                        </div>
                    </a>
                </div>

                <div class="dnp">
                    <a href="/passengerprofile">
                        <img src="../static/passenger.webp" width="200px" height="200px">
                        <div class="about_dnp">
                            <h3>Passenger</h3>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
  </body>
</html>