@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
  }

body{
    min-height: 100vh;
}

.carlogo{
    position: absolute;
    margin-top: 5px;
    margin-left: -115px;
  }

.clear{
    clear: both;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: white;
}

.top-nav a{
    position: relative;
    font-size: 1.1em;
    color: white;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    padding: 12px;
}

.top-nav a:hover, .top-nav a.bright{
    transition: 0.5s;
    color: rgb(0, 0, 0);
}

.top-nav a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 50px;
    z-index: -1;
    transform: scale(0);
    opacity: 0;
    transition: 0.5s;
}

.top-nav a:hover span, .top-nav a.bright span{
    transform: scale(1);
    opacity: 1;
}

.center{
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    background: url('../static/pic&video/backgound\ \(1\).jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

.center h1{
    margin: 0;
    position: absolute;
    color: white;
    font-size: 70px;
    text-shadow: 5px 5px 10px rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.car-pic{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
    filter: drop-shadow(0 0 0.5 white);
}

.car-pic img{
    position: absolute;
}

.car-pic img:nth-child(1){
    top: 10%;
    left: 25%;
    width: 16%;
}

.car-pic img:nth-child(2){
    top: 40%;
    left: 8%;
    width: 16%;
}

.car-pic img:nth-child(3){
    bottom: 8%;
    left: 32%;
    width: 16%;
}

.car-pic img:nth-child(4){
    bottom: 10%;
    right: 27%;
    width: 18%;
}

.car-pic img:nth-child(5){
    top: 9%;
    right: 25%;
    width: 16%;
}

.car-pic img:nth-child(6){
    top: 40%;
    right: 9%;
    width: 16%;
}

#about{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.background{
    min-height: 100vh;
    background-image: linear-gradient(to left bottom, #473f61, #54466d, #634d78, #725484, #825a8e, #8c6095, #95679c, #9f6da3, #a474a9, #a87cb0, #ad83b6, #b28bbc);
}

#about h2{
    font-size: 40px;
    color: white;
}

#about p{
    font-size: 18px;
    padding-top: 8px;
    color: white;
}

.container{
    display: flex;
    position: relative;
    /*flex-direction: row;*/
    justify-content: center;
    align-items: center;
    /*max-width: 1200px;*/
    flex-wrap: wrap;
    z-index: 1;
}

.container .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    background-image: linear-gradient(to left top, #302a45, #3a2f50, #46355b, #523966, #603e70, #6a4578, #754b80, #805288, #895d91, #92689b, #9b73a4, #a47eae);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-left: 1px solid rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    transition: all .5s ease;
}

.container .card .info{
    padding: 20px;
    text-align: center;
}

.container .card .info h2{
    position: absolute;
    top: -30px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.08);
    pointer-events: none;
}

.container .card .info h3{
    font-size: 25px;
    color: rgb(255, 255, 255, 0.95);
    z-index: 1;
    padding-bottom: 8px;
    pointer-events: none;
}

.container .card .info p{
    font-size: 16px;
    color: rgb(255, 255, 255, 0.85);
    font-weight: 300;
    pointer-events: none;
}

.container .card:hover{
    transform: translateY(-30px);
}