
<div class="container">
  <h1 class="text-center mt-2 mb-2">Customize Your Profile</h1>
  <div class="text-center">
    {% if current_profile_pic != 'default.png' %}
      <img src="{{ url_for('static', filename='/uploads/default.jpg' + current_profile_pic) }}" alt="User Profile Picture" height="150"
      class="pro-img rounded-circle">
    {% else %}
      <img src="{{ url_for('static', filename='/uploads/default.jpg') }}" alt="Default Profile Pic" height="150" 
      class="pro-img rounded-circle">
    {% endif %}
  </div>
  <form method="POST" enctype="multipart/form-data">
    <div class="form-group mt-4 mb-2">
      {% if current_profile_pic == 'default.png' %}
      <label for="profile_pic" class="form-label col-form-label-lg" >Upload a Profile Picture</label>
      {% else %}
      <label for="profile_pic" class="form-label">Change Profile Picture</label>
      {% endif %}
      <div class="input-group mb-3">
        <input type="file" class="form-control" accept=".jpg, .png" name="profile_pic"/>
      </div>
    </div>
      <div class="form-group mt-3">
        <label for="username" class="form-label">Change Username</label>
        <input type="text" name="username" id="username" class="form-control" value="{% if current_username %} {{current_username}} {% endif %}" >
      </div>
    </div>
    <div class="form-group mt-3">
      <label for="email" class="form-label">Change Email</label>
      <input type="email" name="email" id="email" class="form-control" value="{% if current_email %} {{current_email}} {% endif %}" >
    </div>
  </div>
    <button class="btn btn-primary mt-2 mb-4" type="submit">Update Account Details</button>
  </form>
</div>
